$popup-header-height: 52px;
$popup-footer-height: 44px;

#popup-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;

  @include transition(all .7s);

  #popup {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar { width: 0 !important }
  }

  #popup-content {
    position: relative;
    z-index: 5;
    background: white;
    padding: $padding;
    min-height: 60%;

    @include transition(opacity .7s);
    @include opacity(1);
  }
}

#popup-header {
  position: relative;
  z-index: 4;
  border-bottom: $border-seperator;
  padding: $padding;
  background: white;

  @include box-sizing(border-box);
  @include transition(opacity .7s, box-shadow .7s);
  @include opacity(1);

  a {
    float: right;
  }

  h2 {
    margin: 0;
  }

  &.has-hidden-content {
    @include box-shadow(0 0 10px $black);
  }
}

#popup-footer {
  background: white;
  border-top: $border-seperator;
  height: $popup-footer-height;
  position: fixed;
  z-index: 6;
  bottom: 0;
  width: 100%;

  @include transition(opacity .7s, box-shadow .7s);
  @include opacity(1);
  @include box-sizing(border-box);

  ul {
    li {
      float: left;
      border-right: 1px dashed $gray-light;

      a {
        @include inline-block;
        padding: $padding 15px;
      }
    }

    li:hover {
      background: $black;
    }
  }

  &.has-hidden-content {
    @include box-shadow(0 0 10px $black);
  }
}

// Modifiers
#popup-wrapper.with-sticky-header {
  #popup-header {
    position: fixed;
    top: 0;
    z-index: 6;
    // Needed because of jQuery.
    margin-top: 0 !important;
    width: 100%;
    height: $popup-header-height;
  }

  #popup-content {
    margin-top: $popup-header-height;
  }
}
#popup-wrapper.with-sticky-header {
  #popup-header {
    @include box-shadow(0 0 10px $black);
  }
}

#popup-wrapper.with-actions {
  #popup-content {
    margin-bottom: $popup-footer-height;
  }
}

#popup-wrapper.no-actions {
  overflow: hidden;
  #popup-footer {
    position: absolute;
    bottom: - $popup-footer-height;
  }
}

body.has-menu-expanded {
  #popup-wrapper {
    #popup {
      #popup-content, #popup-header, #popup-footer {
        @include opacity(0);
      }
    }
  }
}

#popup-wrapper.before-closing {
  #popup-content, #popup-header, #popup-footer {
    @include opacity(0);
  }
}