/********************************************************
 * Standard styles
 ********************************************************/

html,
body,
#main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index: 99;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: $black;

  @include transition(color .3s);
}

i {
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}