/********************************************************
 * Standard styles
 ********************************************************/

html,
body,
#main {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: $black;

  @include transition(color .3s);
}

a:hover {
  color: $gray;
}