/********************************************************
 * Main styles, imports all other stylesheets.
 ********************************************************/

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$FontAwesomePath: 'font-awesome/font';

$black: #2e3436;
$gray: #d3d7cf;
$gray-light: #d3d7cf;

$padding: 10px;
$padding-big: 20px;

$radius: 5px;

$border-seperator: 2px solid $gray;

@import 'font-awesome/font-awesome';
@import 'compass';
@import 'susy';
@import 'fonts';
@import 'map';
@import 'menu';
@import 'popup';
@import 'style';
@import 'theme';